* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: "50px";
}
.text {
  color: "#E9967A";
  text-align: "center";
}
.loginButton {
  color: "#E9967A";
  text-align: "center";
}
.link {
  color: "#1E90FF";
  cursor: "pointer";
}
.grid {
  text-align: "center";
}
.errorMsg {
  text-align: "center";
  margin-top: "30px";
  background-color: "#E6E6FA";
  color: "#E9967A";
}
